<div class="kakinkakeibo">

  <h1>その他家計簿一覧</h1>

  <div class="list_explanation">
    全てのその他家計簿のデータの一覧です。<br>
    目的のものの名前のリンクを押すと、そのレコードの詳細画面に飛びます。
  </div>

  <%= render 'other_kakeibos/listindex', other_kakeibos: @other_kakeibos %>

</div>
