<div class="kakinkakeibo">

  <h1>その他家計簿</h1>

  <div class="list_explanation">
    その他家計簿のレコードの詳細ページです。<br>
    「家計簿データ修正」のリンクを押すと、このレコードの修正が出来ます。<br>
    「データ削除」のリンクを押すと、このレコードの修正が出来ます。
  </div>

  <%= render 'other_kakeibos/listshow', other_kakeibo:@other_kakeibo %>

</div>