<div class="kakinkakeibo">

  <h1 class="gacha">ガチャ家計簿</h1>

  <div class="list_explanation">
    目的のものの名前のリンクを押すと、その目的のものの詳細ページに飛びます。<br>
    詳細ページでは、レコードの更新、削除ができます。
  </div>

   <%= render 'gacha_kakeibos/listindex', gacha_kakeibos: @gacha_kakeibos %>

</div>