<div class="kakinkakeibo">

  <h1 class="gacha">ガチャ家計簿データ一覧</h1>

  <div class="list_explanation">
    全てのガチャ家計簿のデータの一覧です。<br>
    目的のものの名前のリンクを押すと、そのレコードの詳細画面に飛びます。
  </div>

  <%= render 'gacha_kakeibos/listindex', gacha_kakeibos: @gacha_kakeibos %>

</div>
