<div class="kakinkakeibo">

  <h1 class="gacha">ガチャ家計簿</h1>
  
  <div class="list_explanation">
    ガチャ家計簿のレコードの詳細ページです。<br>
    「家計簿データ修正」のリンクを押すと、このレコードの修正が出来ます。<br>
    「データ削除」のリンクを押すと、このレコードの修正が出来ます。
  </div>

  <%= render 'gacha_kakeibos/listshow', gacha_kakeibo:@gacha_kakeibo %>
</div>
