<div class='kakinkakeibo'>
  <h1 class='site-theme'>課金家計簿</h1>
  <div class='explanation'>
    ソーシャルゲームでの課金額やiTunes Storeなどへの課金額をまとめて<br>
    可視化するサイトです。<br>
    「何に、いくら」課金したのかが一眼で分かります。<br>
    また、ガチャ家計簿では目的の物が当選したかどうかも記述できるので<br>
    無課金の方も利用出来ます。
  </div>
</div>