<div class='kakinkakeibo'>
  <h1 class='site-theme'>課金家計簿</h1>
  <div class='explanation'>
    ソーシャルゲームでの課金額やiTunes Storeなどへの課金額をまとめて<br>
    可視化するサイトです。<br>
    「何に、いくら」課金したのかが一目で分かります。<br>
    また、ガチャ家計簿では目的の物が当選したかどうかも記述できるので<br>
    無課金の方も利用出来ます。<br>
    ガチャ以外の家計簿をつけたい時は、「その他家計簿」をご利用下さい。
  </div>
  <div class="search_explanation">
    <h3 class="explanation">検索フォーム</h3>
    検索フォームでは、どこのページにいても<br>
    ガチャ家計簿やその他家計簿の目的のもの(課金の対象物)の検索が出来ます。<br>
    検索をするときは、フォームに目的のものの名前を入力し、<br>
    隣のプルダウンメニューでガチャ家計簿かその他家計簿を選択し<br>
    検索ボタンを押すことで検索が出来ます。<br>explanation
    トップページに飛びたいときは、課金家計簿のロゴ(画面左上のリンク)を押すと<br>
    トップページに飛びます。
  </div>
  <div class="other_kakeibo_explanation">
    <h3 class="explanation">その他家計簿</h3>
    その他家計簿は、ガチャ以外の家計簿をつける為の家計簿です。<br>
    ガチャ家計簿以外の家計簿をつけるときに便利です。<br>
    「その他家計簿」のリンクを押すと、その他家計簿のレコードを全て見ることが出来ます。<br>
    その他家計簿の総課金額や、<br>
    課金額が0円のものを除いた平均課金額も見ることが出来ます。<br>
  </div>
  <div class="gacha_kakeibo_explanation">
    <h3 class="explanation">ガチャ家計簿</h3>
    ガチャ家計簿はソーシャルゲームでのガチャを回した時につける家計簿です。<br>
    「ガチャ家計簿」のリンクを押すと、ガチャ家計簿のレコードを全て見ることが出来ます。<br>
    ガチャ家計簿は総課金額や課金額が0円のものを除いた<br>
    平均課金額だけではなく、落選時も含むガチャを回した数の平均、<br>
    課金アイテム(ゲーム内で手に入れることも出来て、課金をすることによっても手に入るアイテム)の<br>
    平均消費数も見られます。<br>
    更に、当選した時だけのガチャを回した数の平均や課金アイテムの消費数も見ることが出来ます。
  </div>
  <div class="kakeibo_register_explanation">
    <h3 class="explanation">家計簿登録</h3>
    家計簿を登録することが出来ます。<br>
    「家計簿登録」のリンクを押すと家計簿の登録ページに飛びます。<br>
    <strong>※新しく家計簿をつくる時は必ず「家計簿登録」で家計簿の登録をして下さい。</strong>
  </div>
  <div class="kakeibo_list_explanation">
    <h3 class="explanation">家計簿一覧</h3>
    ガチャ家計簿もその他家計簿も含めた家計簿の一覧です。<br>
    「家計簿一覧」のリンクを押すことで家計簿一覧を見ることが出来ます。
  </div>
  <div class="other_kakeibo_register_explanation">
    <h3 class="explanation">その他家計簿記述</h3>
    その他家計簿のレコードを記述するページです。<br>
    「その他家計簿記述」のリンクを押すと、その他家計簿のレコードを登録するページに飛びます。<br>
  </div>
  <div class="gacha_kakeibo_register_explanation">
    <h3 class="explanation">ガチャ家計簿記述</h3>
    ガチャ家計簿のレコードを記述するページです。<br>
    「ガチャ家計簿記述」のリンクを押すと、ガチャ家計簿のレコードを登録するページに飛びます。
  </div>
</div>

