<div class="billing_amount_ranks">
  <h3>その他家計簿　課金額ランキング</h3>
  <% if @other_billing_amount_ranks.size == 0 %>
    ランキングのデータがありません
  <% else %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>順位</th>
            <th>目的のもの</th>
            <th>課金額</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @other_billing_amount_ranks.each.with_index(1) do |otherkakeibo, i| %>
            <th>第<%= i  %>位</th>
            <td><%= otherkakeibo.object %></td>
            <td><%= otherkakeibo.billing_amount %></td>
          </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>