<div class="kakinkakeibo">

  <h1>家計簿一覧</h1>

  <div class="list_explanation">
    家計簿の一覧です。<br>
    家計簿の名前のリンクを押すと、その家計簿のレコードを見ることが出来ます。<br>
    「家計簿名変更」のリンクを押すと、家計簿名が変更出来ます。<br>
    また、「家計簿ランキングを見る」というリンクを押すと、<br>
    その家計簿のランキングを見ることが出来ます。
  </div>

  <%= render 'kakeibos/list', kakeibos:@kakeibos %>

</div>