<h1>家計簿</h1>

<div class="table-responsive">
   <table class="table table-hover">
    <thead>
     <tr>
      <th></th>
      <th>家計簿名</th>
      <th>家計簿の種類</th>
      <th></th>
      <th></th>
     </tr>
    </thead>
    <tbody>
     <tr>
       <th></th>
       <td><%= @kakeibo.name %></td>
       <td>
        <% if @kakeibo.is_kakeibo_status == true %>
          <%= 'ガチャ家計簿' %>
        <% else %>
          <%= 'その他家計簿' %>
        <% end %>
       </td>
       <td><%= link_to '家計簿名修正', edit_kakeibo_path(@kakeibo) %></td>
     </tr>
    </tbody>
   </table>
 </div>