// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search_explanation{
  margin: 10px;
}

.other_kakeibo_explanation{
margin: 10px;
}

.gacha_kakeibo_explanation{
  margin: 10px;
}

.kakeibo_register_explanation{
  margin: 10px;
}

.kakeibo_list_explanation{
  margin: 10px;
}

.other_kakeibo_register_explanation{
  margin: 10px;
}

.gacha_kakeibo_register_explanation{
  margin: 10px;
}